.card-contact{
    margin-top: 5px;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.card-price{
    margin-top: 5px;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.card-event{
    margin-top: 5px;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}